body {
  margin: 0;
  font-family: 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

:root {
  --primary: #2E3192;
  --primary-light: #4145C5;
  --neutral: #1B1B1B;
  --neutral-light: #909090;
  --lightest: #fff;
  --gray-lightest: #FBFBFB;
  --gray-light: #E9E9E9;

}
